In [87]:
import pandas as pd
import numpy as np

In [88]:
x = pd.read_csv('archive/exercise.csv')
y = pd.read_csv('archive/calories.csv')
x

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0      14733363    male   68   190.0    94.0      29.0       105.0       40.8
1      14861698  female   20   166.0    60.0      14.0        94.0       40.3
2      11179863    male   69   179.0    79.0       5.0        88.0       38.7
3      16180408  female   34   179.0    71.0      13.0       100.0       40.5
4      17771927  female   27   154.0    58.0      10.0        81.0       39.8
...         ...     ...  ...     ...     ...       ...         ...        ...
14995  15644082  female   20   193.0    86.0      11.0        92.0       40.4
14996  17212577  female   27   165.0    65.0       6.0        85.0       39.2
14997  17271188  female   43   159.0    58.0      16.0        90.0       40.1
14998  18643037    male   78   193.0    97.0       2.0        84.0       38.3
14999  11751526    male   63   173.0    79.0      18.0        92.0       40.5

[15000 rows x 8 columns]

In [89]:
y

        User_ID  Calories
0      14733363     231.0
1      14861698      66.0
2      11179863      26.0
3      16180408      71.0
4      17771927      35.0
...         ...       ...
14995  15644082      45.0
14996  17212577      23.0
14997  17271188      75.0
14998  18643037      11.0
14999  11751526      98.0

[15000 rows x 2 columns]

In [90]:
x.drop(labels='User_ID',axis=1,inplace=True)
y.drop(labels='User_ID',axis=1,inplace=True)
y

       Calories
0         231.0
1          66.0
2          26.0
3          71.0
4          35.0
...         ...
14995      45.0
14996      23.0
14997      75.0
14998      11.0
14999      98.0

[15000 rows x 1 columns]

In [91]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
x['Gender']=lb.fit_transform(x['Gender'])
lb.inverse_transform(x['Gender'])

array(['male', 'female', 'male', ..., 'female', 'male', 'male'],
      dtype=object)

In [92]:
x

       Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0           1   68   190.0    94.0      29.0       105.0       40.8
1           0   20   166.0    60.0      14.0        94.0       40.3
2           1   69   179.0    79.0       5.0        88.0       38.7
3           0   34   179.0    71.0      13.0       100.0       40.5
4           0   27   154.0    58.0      10.0        81.0       39.8
...       ...  ...     ...     ...       ...         ...        ...
14995       0   20   193.0    86.0      11.0        92.0       40.4
14996       0   27   165.0    65.0       6.0        85.0       39.2
14997       0   43   159.0    58.0      16.0        90.0       40.1
14998       1   78   193.0    97.0       2.0        84.0       38.3
14999       1   63   173.0    79.0      18.0        92.0       40.5

[15000 rows x 7 columns]

In [93]:
from sklearn.model_selection import train_test_split
x1,x2,y1,y2=train_test_split(x,y,random_state=66,shuffle=True)

In [112]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
rf = RandomForestRegressor()
lf = XGBRegressor()

In [113]:
lf.fit(x1,y1)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [114]:
rf.fit(x1,y1)

/Users/swapnendu/anaconda3/lib/python3.11/site-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [115]:
rf.score(x2,y2)

0.997885826134292

In [116]:
lf.score(x2,y2)

0.9988949014251961

In [117]:
from sklearn.metrics import r2_score
r2 = r2_score(rf.predict(x2),y2)
print(r2)

0.9978551027567528

In [118]:
from sklearn.metrics import mean_absolute_error

print("MAE",mean_absolute_error(rf.predict(x2),y2))

MAE 1.7871519999999999

In [119]:
from sklearn.metrics import mean_squared_error
print("MSE",mean_squared_error(lf.predict(x2),y2))

MSE 4.243501324294274

In [120]:
ab = [[0,34,179.0,71.0,13.0,100.0,40.5]]

In [123]:
lf.predict(ab)

array([71.12184], dtype=float32)

In [124]:
import pickle
pickle.dump(lf,open('cal.pkl','wb'))